/* style.css */

body{
  background-color:#001030;
  border-left:25px solid #b2daf8;
  border-right:25px solid #b2daf8;
  border-top: 15px solid #083454;
  border-bottom: 15px solid #083454;
  padding: 10px;
  margin: 0px;
}
div#logo{
  text-align:center;
}
div#reviewContainer{
  display:inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
h1{
  text-align:center;
  font-family: Verdana, Geneva, sans-serif;
  color:#F0F8FF;
}
h2{
  text-align:center;
  border-top:2px solid white;
  padding: 15px;
  margin: 15px 5px 0px 5px;
  color: #F0F8FF;
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgba(0,0,0,0.5); /* black but 50% opacity */
  border-radius: 50px 50px 0px 0px; /* rounded top corners */
}


h3{
  /* style for review stars */
  text-align:center;
  margin: 0px;
  color:white;
  background-color: rgba(0,0,0,0.5); /* black but 50% opacity */
}
p{
  margin: 0px;
  padding: 15px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: rgba(0,0,0,0.5); /* black but 50% opacity */
  border-radius: 0px 0px 50px 50px; /* rounded bottom corners */
}
