/* style.css */

body{
  background-color:#445577;
  padding: 25px;
  margin: 0px;
  color:#F0F8FF;
}
div#logo{
  text-align:center;
}
div.reviewContainer{
  display:inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
h1{
  text-align:center;
  font-family: Verdana, Geneva, sans-serif;
  color:#F0F8FF;
  font-size:2em;
}
h2{
  text-align:center;
  border-top:2px solid white;
  padding: 15px;
  margin: 15px 0px 0px 0px;
  color: #F0F8FF;
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgba(0,0,0,0.5); /* black but 50% opacity */
  border-radius: 10px 10px 0px 0px; /* rounded top corners */
}


h3{
  /* style for review stars */
  text-align:center;
  margin: 0px;
  color:white;
  background-color: rgba(0,0,0,0.5); /* black but 50% opacity */
}
h4{
  text-align:left;
  font-family: Verdana, Geneva, sans-serif;
  color:#F0F8FF;
  font-size:1em;
}
p{
  margin: 0px;
  padding: 15px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: rgba(0,0,0,0.5); /* black but 50% opacity */
  border-radius: 0px 0px 10px 10px; /* rounded bottom corners */
}
